.flex-container {
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */
.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.flex-container-1 > .flex-item {
  box-sizing: border-box;
  width: calc(20% - 10px);
  margin: 5px;
}

.flex-container-1 .flex-item:nth-child(6) {
  margin-left: calc(20% + 5px);
  box-sizing: border-box;
}

.flex-container-1 .flex-item:nth-child(8) {
  margin-right: calc(20% + 5px);
  box-sizing: border-box;
}

/* Flex Container 2 */

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  box-sizing: border-box;
}

.flex-container-2 .flex-item {
  box-sizing: border-box;
  width: calc(20% - 10px);
  margin: 5px;
}

/* Flex Container 3 */
.flex-container-3 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 400px;
}

.flex-container-3 > .flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  width: 1000px;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.flex-container-5 > .item1,
.flex-container-5 > .item3,
.flex-container-5 > .item6 {
  height: 300px;
}

.flex-container-5 > .item2,
.flex-container-5 > .item8 {
  height: 400px;
}

.flex-container-5 > .item4,
.flex-container-5 > .item5,
.flex-container-5 > .item7 {
  height: 200px;
}
/* Flex Container 6 */
.flex-container-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 300px;
  width: auto;
}
.flex-container-6 .flex-item {
  width: 400px;
}

/* use height: 300px; on the container */
